/*=============== FONTS ===============*/ 

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Bold';
	src: url('../fonts/SegoeUI-Bold.eot');
	src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
		url('../fonts/SegoeUI-Bold.woff') format('woff'),
		url('../fonts/SegoeUI-Bold.ttf') format('truetype'),
		url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI.woff2') format('woff2'),
		url('../fonts/SegoeUI.woff') format('woff'),
		url('../fonts/SegoeUI.ttf') format('truetype'),
		url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Condensed';
	src: url('../fonts/FuturaCondMedium.eot');
	src: url('../fonts/FuturaCondMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaCondMedium.woff2') format('woff2'),
		url('../fonts/FuturaCondMedium.woff') format('woff'),
		url('../fonts/FuturaCondMedium.ttf') format('truetype'),
		url('../fonts/FuturaCondMedium.svg#FuturaCondMedium') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Condensed Bold';
	src: url('../fonts/FuturaCondBold.eot');
	src: url('../fonts/FuturaCondBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaCondBold.woff2') format('woff2'),
		url('../fonts/FuturaCondBold.woff') format('woff'),
		url('../fonts/FuturaCondBold.ttf') format('truetype'),
		url('../fonts/FuturaCondBold.svg#FuturaCondBold') format('svg');
	font-weight: 100;
	font-style: normal;
}

/*=============== Site css ===============*/ 

body {
	font-family: 'Futura Condensed', 'Segoe UI', 'Lato';
	background: url('../img/bg.png') no-repeat;
	width: 100%;
	background-size: cover;
	overflow: hidden;
}

h1 {
	color: #fff;
	margin: 0;
}

header { padding-top: 3em; }

.main-header .header-left { padding-left: 10em; }
.main-header .header-right > a { padding-right: 10em; }

.header-right {
	position: relative;
}

.header-right > a {
	position: absolute;
	right: 100px;
}

.wrapper {
	overflow: hidden;
}

main {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*=============== .main-menu ===============*/ 
.main-menu {
	display: none;
	background: #2B3941;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.main-menu .header-left,
.main-menu .header-right {
	position: relative;
}

.main-menu .header-left {
	left: 10em;
}

.main-menu .header-right > a {
    font-size: 30px;
    color: #fff;
}

.main-menu li > a {
	font-size: 48px;
	color: #fff;
	text-align: center;
	text-decoration: none;
} 

.main-menu li > a:hover { 
	color: #32acb2; 
}

ul.options { padding: 0; width: 100%; }
ul.options > li { list-style-type: none; }
ul.options > li > a {
	display: block;
	text-transform: uppercase; 
	text-align: center;
	width: 100%;
   	font-family: 'Futura Condensed Bold';
}

@media screen and (max-width: 768px) {
    .main-header .header-left {
        left: -5em;
    }

    .main-header .header-center {
    	display: block !important;
    	position: absolute;
    	top: 10em;
    	margin-left: 4em;
    }

    .main-header .header-right > a {
        right: -5em;
    }

    .main-menu .header-left {
        left: 5em;
    }
    .main-menu .header-right > a {
        top: -0.5em;
    }

    ul.options a { text-align: center; }
}

@media screen and (min-width: 768px) {
    .header-left {
        left: 3em;
    }
    .header-right > a {
        right: 5em;
    }
} 

